@import url("./variables.css");

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}


header a {
    position: relative;
    left: 7%;

}

a:focus {
    outline: 2px solid var(--background-color-hover-focus);
    border-radius: 5px;
}

a img.logo {
    height: 50px;
    width: 100%;
    margin-left: 0%;
}

h1 {
    color: #901C1C;
    margin-right: 95px;
    font-weight: 500;
}

button {
    font-family: var(--font-family);
}

.error {
    color: var(--color-text-white);
    font-size: 0.8em;
    margin-top: 0.2em;
}
/* Mobiles */
@media screen and (min-width: 320px) and (max-width : 767px) {
    a img.logo{
        height: 30px;
    }
    h1{
        font-size: 1.1em;
        margin-right: 6%;
    }
}
/* Tablette */
@media screen and (min-width:768px) and (max-width:1023px) {
    header a {
        left: 8%;
    }

    a img.logo {
        height: 40px;
    }

    .error {
        font-size: 0.6em;
    }
}

/* Petits écrans pc  */
@media (min-width: 1024px) and (max-width: 1439px) {
    h1 {
        font-size: 1.5em;
    }

    a img.logo {
        height: 45px;
    }
}

/* Grands écrans pc */
@media (min-width:2560px) and (max-width: 3200px) {
    header {
        height: 150px;
    }

    a:focus {
        outline: 3px solid var(--background-color-hover-focus);
    }

    a img.logo {
        height: 80px;
    }

    h1 {
        font-size: 3.5em;
    }
    .error{
        font-size: 1.4em;
    }
}