@import url("./variables.css");

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}


header a {
    position: relative;
    left: 7%;

}

a:focus {
    outline: 2px solid var(--background-color-hover-focus);
    border-radius: 5px;
}

a img.logo {
    height: 50px;
    width: 100%;
    margin-left: 0%;
}

h1 {
    color: #901C1C;
    margin-right: 95px;
    font-weight: 500;
}

button {
    font-family: var(--font-family);
}

.error {
    color: var(--color-text-white);
    font-size: 0.8em;
    margin-top: 0.2em;
}

/* Mobiles */
@media screen and (min-width: 320px) and (max-width : 767px) {
    a img.logo {
        height: 30px;
    }

    h1 {
        font-size: 1.1em;
        margin-right: 6%;
    }
}

/* Tablette */
@media screen and (min-width:768px) and (max-width:1023px) {
    header a {
        left: 8%;
    }

    a img.logo {
        height: 40px;
    }

    .error {
        font-size: 0.6em;
    }
}

/* Petits écrans pc  */
@media (min-width: 1024px) and (max-width: 1439px) {
    h1 {
        font-size: 1.5em;
    }

    a img.logo {
        height: 45px;
    }
}

/* Grands écrans pc */
@media (min-width:2560px) and (max-width: 3200px) {
    header {
        height: 150px;
    }

    a:focus {
        outline: 3px solid var(--background-color-hover-focus);
    }

    a img.logo {
        height: 80px;
    }

    h1 {
        font-size: 3.5em;
    }

    .error {
        font-size: 1.4em;
    }
}

/*------------------------
    ANIMATION LOADER
------------------------*/
.sr-only {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.hidden {
    display: none;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.loader-container span {
    z-index: 10;
}

.loader-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: var(--background-color-secondary);
    z-index: -1;
    transition: top 5s linear 3s;
}

.loader-container:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: var(--background-color-secondary);
    z-index: -1;
    transition: bottom 5s linear 3s;
}

.loader-container.done:before {
    top: -50%;
}

.loader-container.done:after {
    bottom: -50%;
}

.progress {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transform-origin: center;
}

.progress .progress__item {
    text-align: center;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
}

.progress .progress__item:before {
    content: '';
    position: absolute;
    top: 39.6%;
    left: 49.6%;
    width: 43px;
    height: 44px;
    border-top: solid 6px #fff;
    border-right: solid 12px #fff;
    border-top-right-radius: 100%;
    transform-origin: left bottom;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    -o-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;

}

.progress.float .progress__item:before {
    border-top-width: 2px;
    margin-top: 0px;
    height: 50px;
}

.progress.float.shadow .progress__item:before {
    border-top-width: 2px;
    margin-top: -41px;
    height: 50px;
}

.progress.shadow:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -43px 0 0 12px;
    width: 45px;
    height: 45px;
    border-top: solid 10px rgba(194, 76, 50, 0.3);
    border-right: solid 12px rgba(194, 76, 50, 0.3);
    border-top-right-radius: 100%;
    z-index: -1;
    transform-origin: left bottom;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    -o-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

.progress.shadow:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    color: rgba(194, 76, 50, 0.4);
    text-align: center;
    line-height: 100px;
    border: 2px solid rgba(194, 76, 50, 0.4);
    border-radius: 50%;
    margin: -40px 0 0 -40px;
    z-index: -1;
    transform-origin: center;
}

.done .progress__item {
    opacity: 0;
    -webkit-animation: done var(--done-speed);
    -webkit-animation: done var(--done-speed);
    -moz-animation: done var(--done-speed);
    -o-animation: done var(--done-speed);
    animation: done var(--done-speed);
    animation: done var(--done-speed);
    transition: opacity 2s linear var(--done-speed);
}

.done .progress__item:before {
    display: none;
}

.done:before {
    display: none;
}

.done:after {
    opacity: 0;
    -webkit-animation: done var(--done-speed);
    -webkit-animation: done var(--done-speed);
    -moz-animation: done var(--done-speed);
    -o-animation: done var(--done-speed);
    animation: done var(--done-speed);
    animation: done var(--done-speed);
    transition: opacity 2s linear var(--done-speed);
}

@keyframes done {
    10% {
        transform: scale(1.10);
    }

    20% {
        transform: scale(0.90);
    }

    30% {
        transform: scale(1.07);
    }

    40% {
        transform: scale(0.93);
    }

    50% {
        transform: scale(1.04);
    }

    60% {
        transform: scale(0.97);
    }

    80% {
        transform: scale(1.01);
    }

    90% {
        transform: scale(0.99);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}