/* style page photographer main-header */
#photograph-header {

    display: grid;
    position: relative;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: center;
    background-color: #FAFAFA;
    height: 313px;
    width: 1240px;
    margin: 0 100px;
    border-radius: 5px;
}

.text-header-info {
    text-align: left;
    margin-left: 12%;
    width: 100%;
}

.img-header-box {
    text-align: center;
   
    
}

.photographer-header_img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 4px 12px rgb(0 0 0 / 25%);
    object-fit: cover;

}

.name_photograph {
    font-size: 64px;
    color: #D3573C
}

.text-h2 {
    color: #901C1C;
    font-size: 24px;

}


/* style main-article */
.card_article {
    width: fit-content;
}
.card_article:focus{
    outline: none;
    border: 2px solid #DB8876;
}

.card_media {
    background-color: #DB8876;
    height: 300px;
    width: 350px;
    object-fit: cover;
    border-radius: 5px;
    object-position: 50% 50%;
}

a{
    display: block;
    height: auto;
}
.card_media:focus {
    outline: none;
    border: 2px solid #DB8876;
}

figcaption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.figcaption_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#photograph-media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 90px;
    margin: 4% 7%;
}

figcaption {
    color: #901C1C;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_title {
    width: 63%;
}

.figcaption-likes-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
}

.button-like {
    background: transparent;
    border: none;
    color: #901C1C;
    display: flex;
}

.likes {
    margin-right: 10%;
}

/* style modal contact/form */
#contact_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    overflow-y: scroll;
    z-index: 999;
}

#contact-box {
    text-align: center;
    position: relative;
   
    display: block;
   
        z-index: 1;
      
}

.contact-open_button {
    font-size: 18px;
    font-weight: 700;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 0;
    text-align: center;
   
}
.contact-open_button:focus{
    outline: none;
    border: 2px solid #DB8876;
    background-color: #DB8876;
    color: #000000;
}
.contact-open_button:hover{
    background-color: #DB8876;
    color: #000000;
}
#contact-submit_button{
    font-size: 18px;
    font-weight: 700;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 0;
    text-align: center;
}
.modal {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    height: 900px;
    width: 669px;
    overflow-y: scroll;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header h1 {
    color: #312E2E;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

#modal-close-btn {
    border: none;
    background: transparent;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    flex-direction: column-reverse;
}

form fieldset {
    border-style: none;
}

form legend {
    color: #000000;
    font-size: 64px;
    position: relative;
    top: 0;
    bottom: 0;
}

form label {
    color: #312E2E;
    font-size: 36px;
}


form div {
    width: 100%;
    margin-bottom: 26px;
    position: relative;
    top: 20px;
}

textarea {
    border-radius: 5px;
    resize: none;
    border: transparent;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

/* style insert likes */
.main_likes-price {
    position: fixed;
    height: 89px;
    width: 376px;
    bottom: -20px;
    right: 40px;
    border-radius: 5px;
    background-color: #DB8876;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    font-size: 24px;
}

#total_likes {
    width: 20%;
    text-align: right;
    margin-right: -60px;

}


/* style lightbox */
#lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #E5E5E5;
    z-index:999;
}

#lightbox>nav {
    display: flex;
}

.lightbox-prev {
    position: absolute;
    left: 9%;
    top: 45%;
    width: auto;
    height: auto;

}

.lightbox-next {
    position: absolute;
    width: auto;
    height: auto;
    top: 45%;
    right: 9%;

}

button {
    border: none;
    background-color: transparent;
}

.no-scroll {
    overflow: hidden;
}

.lightbox-media {
    height: 900px;
    width: 1050px;
    border-radius: 5px;
    object-position: 30% 30%;
    object-fit: cover;
}

.lightbox-close {
    position: absolute;
    top: 30px;
    right: 9%;
    z-index: 10;
}

.date {
    font-weight: bolder;
    font-size: 46px;
}

/* style select sort */
.photograph-sort {
    margin: 3px 7%;
    display: flex;
    align-items: center;
    height: 100px;
    position: relative;
}

select {
    display: none;
}

.select-label {
    font-weight: 700;
    font-size: 18px;
    display: block;

    top: 19%;
    margin-right: 0%;
    left: 135%;
}

.custom-select-trigger {
    position: absolute;
    display: block;
    font-size: 18px;
    font-weight: 700;
    background: #911C1C;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    color: white;
    height: 69px;
    width: 170px;
    line-height: 69px;
    border-radius: 5px;
    margin: 0px 0px;
    padding: 0px 9px;
    left: 7%;
    text-align: left;
}
.custom-select-trigger:focus::after{
    background-color: #DB8876;
    color: #000000;
}
.custom-select-trigger::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    background-image: url(../assets/icons/Vector.svg);
    pointer-events: none;
    color: white;
    height: 9.880000114440918px;
    width: 16px;
    left: 80%;
    pointer-events: none;
}

.custom-select-trigger:focus {
    outline: none;
    border: 2px solid #DB8876;
    background-color: #DB8876;
    color: #000000;
}


.custom-options {
    position: relative;
    display: none;
    top: 100%;
    z-index: 999;
    padding: 0;
    list-style: none;
    background: #911C1C;
    border-top: none;
    width: 150px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.custom-options.opened {
    display: block;
    position: absolute;
    left: 7%;
    right: 0%;
    top: 16%;
    background: #911C1C;
    border-radius: 5px;
    width: 170px;
    height: 200px;
    overflow: hidden;
    box-shadow: 0px 2px 4px 0px;
}

.custom-option {
    position: relative;
    display: block;
    width: 150px;
    margin: 0px 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: white;
    text-align: left;
    border-bottom: 1px solid white;
    overflow-y: hidden;
    font-weight: 700;
    font-size: 18px;
    line-height: 66px;
}

.custom-option:focus {
    outline: none;
    transform: translateY(2px);
    color: #000000;
    background-color: #DB8876;
}

.custom-option:hover,
.custom-option.selected {
    transform: translateY(2px);
    color: #000000;
    background-color: #DB8876;
}

.custom-option.selected::before {
    opacity: 1;
}

.custom-option.selected:hover::before,
.custom-option.selected:focus::before {
    border: none;
}

.custom-select-trigger select {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #901C1C;
    width: 170px;
    height: 69px;
    position: absolute;
    border-radius: 5px;
    left: 13%;
    appearance: none;
    color: white;
    font-size: 18px;
    appearance: none;
}

.arrow::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: 48%;
    right: 8px;
    transform: translateY(-50%) rotate(180deg);
    background-image: url(../assets/icons/Vector.svg);
    pointer-events: none;
    color: white;
    height: 9.880000114440918px;
    width: 16px;
    left: 84%;
}

/*MEDIA QUERIES*/

/* Petits écrans */
@media (max-width: 767px) {
    .photograph-header {
        grid-template-columns: 1fr;
        height: auto;
        padding: 30px;
    }
    
    .photographer-header_img {
        height: 150px;
        width: 150px;
    }
    
    .text-header-info {
        margin-left: 0;
        margin-top: 30px;
    }
    
    .photograph-media {
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        margin: 30px;
    }
}

/* Medium  */
@media (min-width: 768px) and (max-width: 1023px) {
    .photograph-header {
        grid-template-columns: 1fr 1fr;
        height: auto;
        padding: 30px;
    }
    
    .photographer-header_img {
        height: 200px;
        width: 200px;
    }
    
    .text-header-info {
        margin-left: 0;
        margin-top: 30px;
    }
    
    #photograph-media {
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        margin: 30px;
    }
}

/* Large  */
@media (min-width: 1440px) {
    .photograph-header {
        grid-template-columns: repeat(3, 1fr);
        height: 300px;
        margin: 0 100px;
    }
    
    .photographer-header_img {
        height: 200px;
        width: 200px;
    }
    
    .text-header-info {
        margin-left: 12%;
        margin-top: 0;
    }
    
    #photograph-media {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 90px;
        margin: 4% 7%;
    }
}
