#contact_modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}


.main_likes-price {
    position: fixed;
    height: 89px;
    width: 376px;
    bottom: -20px;
    right: 40px;
    border-radius: 5px;
    background-color: #DB8876;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    font-size: 24px;
}
#total_likes{
    width: 20%;
    text-align: right;
    margin-right: -60px;

}

.photograph-header {
    display: grid;
    position: relative;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    border-radius: 5px;
}
.text-header-info{
    text-align: left;
    margin-left: 12%;
    width: 100%;
}
.contact-box{
    text-align: center;
}

.img-header-box{
    text-align: center;
}
.photographer-header_img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 4px 12px rgb(0 0 0 / 25%);
    object-fit: cover;
    
}

.name_photograph {
    font-size: 64px;
    color: #D3573C
}

.text-h2 {
    color: #901C1C;
    font-size: 24px;

}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 0;
    text-align: center;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    height: 900px;
    width: 669px;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header h1 {
    color: #312E2E;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}
.modal-close-btn{
    border: none;
    background : transparent;
}   

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    flex-direction: column-reverse;
}
form fieldset{
    border-style: none;
}
form legend{
    color: #000000;
    font-size: 64px;
    position: relative;
    top: 0;
    bottom: 0;
}
form label {
    color: #312E2E;
    font-size: 36px;
}


form div {
    width: 100%;
    margin-bottom: 26px;
    position: relative;
    top: 20px;
}
textarea{
    border-radius: 5px;
    resize: none;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.card_article {
    width: fit-content;
}



.card_media {
    background-color: #DB8876;
    height: 300px;
    width: 350px;
    object-fit: cover;
    border-radius: 5px;

}

figcaption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.figcaption_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photograph-sort {
    margin: 3% 7%;
}


.photograph-media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 90px;
    margin: 4% 7%;
}

figcaption{
    color: #901C1C;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card_title{
    width: 63%;
}
.figcaption-likes-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    /* width: 10%; */
}
.button-like{
    background: transparent;
    border: none;
    color: #901C1C;
    display: flex;
}
.likes{
    margin-right: 10%;
}
#lightbox{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #E5E5E5;
}
#lightbox > nav{
    display: flex;
}
.lightbox-prev{
    position: absolute;
    left: 9%;
    top: 45%;
    width: auto;
    height: auto;

}
.lightbox-next{
    position: absolute;
    width: auto;
    height: auto;
    top: 45%;
    right: 9%;
   
}
button{
    border: none;
    background-color: transparent;
}

.no-scroll {
    overflow: hidden;
 }

.lightbox-media{
height: 900px;
width: 1050px;
border-radius: 5px;
object-position: 30% 30%;
object-fit: cover;
}

.lightbox-close{
position: absolute;
top: 30px;
right: 9%;
z-index: 10;
}
.date {
    font-weight: bolder;
    font-size: 46px;
}
