* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color-primary: #901C1C;
    --background-color-hover-focus: #DB8876;
    --background-color-secondary: #DB8876;
    --color-text-hover-focus: #000000;
    --color-text-white: #FFFFFF;
    --color-text-black-form: #000000;
    --background-color-light: #FAFAFA;
    --color-primary: #901C1C;
    --color-secondary: #D3573C;
    --color-text-modal-label: #312E2E;
    --color-tagline: #525252;
    --color-price: #757575;
    --font-family: "DM Sans", sans-serif;
}
body {
    font-family: var(--font-family);
    margin: 0 auto;
}

html,
body {
    height: 100%;
}