@import url("../variables.css");

/* style page home */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 100px 2%;
}

#photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 358px;
    width: max-content;

}

#photographer_section article a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;

}

#photographer_section article:focus {
    outline: none;
    border: 2px solid var(--background-color-hover-focus);
}


#photographer_section article h2 {
    color: #D3573C;
    font-size: 2.8em;
    width: max-content;
    font-weight: 400;
}

#photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 4px 12px rgb(0 0 0 / 25%);
    object-fit: cover;
    margin: auto;

}

.photographer-tagline {
    font-size: 0.75em;
    line-height: 1.5;
}

#photographer_section span {
    color: var(--color-primary);
    font-size: 1.1em;
}

.photographer-price {
    color: var(--color-price);
    font-size: 0.75em;
    line-height: 1.5;
}

/*MEDIA QUERIES */

/* Mobiles */
@media screen and (min-width: 320px) and (max-width : 767px) {
    #photographer_section {
        display: flex;
        flex-direction: column;
        gap: 0 7%;
        margin: 0 2%;
    }

    #photographer_section article {
        width: inherit;
    }

    #photographer_section article img {
        height: 170px;
        width: 170px;
    }

    #photographer_section article h2 {
        font-size: 2em;
    }
}

/* tablette */
@media screen and (min-width:768px) and (max-width:1023px) {
    #photographer_section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 70px;
        margin: 100px 2%;
    }
}

/* Petits écrans pc  */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
    #photographer_section {
        margin: 2% 3%;
    }

    #photographer_section article img {
        height: 170px;
        width: 170px;
    }

    #photographer_section article h2 {
        font-size: 36px;
    }

    #photographer_section .image-link {

        width: 100%;
    }
}

/* Grands écrans pc */
@media screen and (min-width:2560px) and (max-width: 3200px) {

    #photographer_section {
        margin: 7% 2%;
    }

    #photographer_section article {
        height: 558px;
    }

    #photographer_section article img {
        height: 350px;
        width: 350px;
    }

    .profil {
        width: 100%;
    }

    #photographer_section article h2 {
        font-size: 4.3em;
    }

    #photographer_section span {
        font-size: 2.3em;
    }

    .photographer-tagline {
        font-size: 1.3em;
    }

    .photographer-price {
        font-size: 1.3em;
    }
}